.menu_container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .offer-card {
    background-color: #FFF7EB;
    padding: 1rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14rem;
  }
  
  .offer-image {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ensures the image maintains aspect ratio and fills the box */
  }
  
  @media (max-width: 1200px) {
    .menu_container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .menu_container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    .menu_container {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      gap: 20px;
    }
  }

  @media (max-width: 400px) {
    .menu_container {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      gap: 20px;
      margin-top: 10px;
    }
  }
  @media (max-width: 340px) {
    .menu {
      font-size: 20px;
    }
  

  }
  