/* styles.css */
.background_image {
    background-image: url('../../assets/Background.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    background-repeat: no-repeat;
  }
  .navbar{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.04) 0%, rgba(153, 153, 153, 0.02) 100%);
    border-bottom: 1px solid #FFF;
  }
  
  .home {
 color: #F69625;
    font-family: "Isidora Sans Alt";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .nav_color{
    color:'#FFF';
    font-size: 18px;
    font-weight: 400;

  }