.navbarBackground{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.04) 0%, rgba(153, 153, 153, 0.02) 100%);


}

@media (max-width:1000){
    .logo_container{
        display: none;
    }
}


@media (max-width:650){
    .mobile_container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}