*{
  font-family: "Isidora Sans Alt";
}

.background_container {
  background-image: url('../../assets/Background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  position: relative; 
}
